.leftBar {
  flex: 2;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    padding: 20px;
    background-color: rgb(249, 214, 231);
    border: 2px solid;
    border-radius: 3rem;

    hr {
      margin: 20px 0px;
      border: none;
      height: 0.5px;
      background-color: lightgray;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: white;
      border-radius: 3rem;
      margin-bottom: 2rem;

      span {
        font-size: 12px;
        text-decoration: underline;
        margin: 0.4rem;
        padding: 0.7rem;
      }

      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 2px solid black;
        border-radius: 7rem;
        margin: 1rem;
        padding: .4rem;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;

        }

        span {
          font-size: 14px;
        }
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 2px solid black;
        border-radius: 5rem;
        margin: .5rem;
        padding: .5rem;

        img {
          width: 30px;
          border: 2px solid black;
          border-radius: 40%;
        }

        span {
          font-size: 14px;
        }
      }

    }
  }

